@font-face {
  font-family: 'iconfont';  /* Project id 3176123 */
  src: url('//at.alicdn.com/t/font_3176123_g929fubn7fb.woff2?t=1644481160947') format('woff2'),
       url('//at.alicdn.com/t/font_3176123_g929fubn7fb.woff?t=1644481160947') format('woff'),
       url('//at.alicdn.com/t/font_3176123_g929fubn7fb.ttf?t=1644481160947') format('truetype');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}